﻿@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
<div id="chatView">
    <div><a href="#" onclick="connect()">Kliknij, aby połączyć z serwerem</a></div><br />
    <div id="chat" style="float: left; border: 1px solid black;">
        <form id="chatForm">
            <textarea id="chatTextArea" style="width: 397px; height: 211px;"></textarea><br />
            Wiadomość:
            <input id="chatMessage" type="text" name="msg">
            <input type="submit" value="Wyślij">
        </form>
    </div>
    <div id="present" style="float: left; border: 1px solid black;">
        <b>Gracze online:</b><br />
        <ul></ul>
    </div>
    <div id="gamerooms" style="float: left; border: 1px solid black;">
        <b>Pokoje gier:</b><br />
        <ul></ul><br />
        <form id="createGameRoom">
            <input type="submit" value="Stwórz pokój gry">
        </form>
    </div>
</div>
<div id="gameRoomView" style="display: none">
    <div style="float: left" id="game-chat-containter">
        <div id="game-chat" style="float: left; border: 1px solid black;">
            <form id="game-chatForm">
                <textarea id="game-chatTextArea" style="width: 397px; height: 211px;"></textarea><br />
                Wiadomość:
                <input id="game-chatMessage" type="text" name="msg">
                <input type="submit" value="Wyślij">
            </form>
        </div>
        <div id="game-present" style="float: left; border: 1px solid black;">
            <b>Gracze online:</b><br />
            <ul></ul>
            <form id="requestBot">
                <input type="submit" value="Poproś o bota">
            </form>
            <form id="requestGameStartVote">
                <input type="submit" value="Głosuj za rozpoczęciem gry">
            </form>
        </div>
    </div>
    <div style="float: left; display: none; font-size: 10pt;" id="game-gameboard-containter">
        <div id="inventories">
            <b>Twoja ręka</b><br />
            <div id="invMarkers" style="float: left">
                Znaczniki
                <ul id="deckMarkersList"></ul>
            </div>
        </div><br />
        <div id="gameDeck">
            <div id="aristocratCards" style="float: left">
                Arystokraci
            </div>
            <div id="devCards0" style="float: left">
                Karty rozwoju - Poziom 1
            </div>
            <div id="devCards1" style="float: left">
                Karty rozwoju - Poziom 2
            </div>
            <div id="devCards2" style="float: left">
                Karty rozwoju - Poziom 3
            </div>
            <div id="markers" style="float: left">
                Znaczniki
                <ul id="deckMarkersList"></ul>
            </div>
        </div>
    </div>
</div>
<br/>